@using Car_Insurance.Controllers
@using Car_Insurance.Models

<div class="row no-gutters m-3">
    <div class="card col-sm-12 card col-md-10 card col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Sign-ups</h5>
        </div>
        <div class="card-body">


        </div>




    </div>

